<!-- forgotpassword.html-->
{% block content %}
{% load static %}
	
	<link rel="stylesheet" href="{% static 'login.css' %}">
	
	
		<!--{% for message in messages %}
		
		<div class="alert">
			<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 	
			<strong>{{message}}</strong>
		</div>
		{% endfor %}-->
	


<div class="wrapper">
	<span class="icon-close">
		<a class="icon-close" href="{% url 'base' %}"><ion-icon name="close"></ion-icon></a>
	</span>
	<div class = "form-box login">
	<h2> Forgot Password </h2>
	<form action ="" method="post">
		{% csrf_token %}

		<div class = "input-box">
			<span class = "icon">
				<ion-icon name="mail"></ion-icon>
			</span>
			<input type = "email" name="email" required>
			<label>Email</label>
		</div>
<!--
    <div class = "input-box">
			<span class = "icon">
				<ion-icon name="person"></ion-icon>
			</span>
			<input type = "text" name="username" required>
			<label>Username</label>
		</div>
  -->
		<div class = "remember-forgot">
			<label>Got Password? </label>
			<a href="{% url 'login' %}"><b> Login </b> </a>
		</div>

		<a href="{% url 'password_reset_done' %}"><button type="submit" class ="btn"> Forgot </button></a>

		<div class="login-register">
			<p> Don't have an account?
				<a href="{%url 'register'%}" class="register-link"><b>Register </b></a>
			</p>
		</div>
	</form>
	</div>
	
</div>



<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


{%endblock%}