{% extends 'hf.html'%}
{% block content %}
{% load static %}


<!-- about -->
<div class="container" id="about"    data-aos="fade-up"
data-aos-duration="1500">
<h1>ABOUT US</h1>
<div class="row">
    <div class="col-md-6 py-3 py-md-0">
        <div class="card">
            <img src="/static/image/about.png" alt="">
        </div>
    </div>
    <div class="col-md-6 py-3 py-md-0">
            <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias explicabo nulla dicta perferendis cupiditate autem assumenda unde fugit? Corrupti ipsa fugiat similique voluptate temporibus, cupiditate cumque iusto? Necessitatibus suscipit qui molestias odit ad aspernatur harum aliquid ipsam nisi, culpa quae, magnam dolores cupiditate velit exercitationem ratione deleniti dignissimos labore quia esse ea quos consequuntur perferendis aliquam. Est assumenda doloremque nobis, tenetur fuga similique eligendi nihil non officia possimus aliquid animi nisi ipsum qui veritatis repellat harum accusamus odit iusto laudantium voluptatum ipsa ut fugit veniam. Voluptates sint molestiae officia consequuntur iure repudiandae autem reiciendis, perspiciatis veritatis soluta quia velit necessitatibus.</p>                 -->
            <p>
                At ‘The Bake Shop’ we follow a fairly simple philosophy – offer a product of outstanding quality and ensure customer loyalty. The simplicity of that principle is backed up by a lot of hard work and years of experience. All our products are prepared in a modern semi-automatic factory where we adhere to stringent guidelines of hygiene and cleanliness ensuring a safe and healthy food preparation for all our patrons. We specialize in wide range of Bakery products, savory snacks, Breads and Eggless 100% Veg Cakes.

Bread Varieties include; Burger Buns, Pizza Base, Hot Dog, Footlong, Jumbo Sandwich Breads, Pita, Panini, Foccacia, Sourdough, Bagutte, etc.

We also make Brownies & Macaroons, Donuts, Cupcakes with Icing & Mousse, Tea Time Slice Cakes & Muffins, Puffs & Croissant, Rolls & Sandwiches, Stuffed Buns, Pizza & Calzone, Quiche & Pies, Danish Pastry, Cookies, Kharis & Toast, Breadsticks & Lavash.</p>
        <!-- <div id="bt"><button>Read More...</button></div> -->
    </div>
</div>
</div>
<!-- about -->

{%endblock%}