{% extends 'hf.html'%}
{% block content %}
{% load static %}

<!-- gallary -->
<section id="gallary"    data-aos="fade-up"
data-aos-duration="1500">
<div class="container">
    <h1>OUR GALLARY</h1>
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-4 py-3 py-md-0">
            <div class="card">
                <div class="overlay">
                    <h3 class="text-center">Donuts</h3>
                </div>
                <img src="/static/image/o1.png" alt="">
            </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <div class="card">
                <div class="overlay">
                    <h3 class="text-center">Ice Cream</h3>
                </div>
                <img src="/static/image/o2.png" alt="">
            </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <div class="card">
                <div class="overlay">
                    <h3 class="text-center">Cup Cake</h3>
                </div>
                <img src="/static/image/o3.png" alt="">
            </div>
        </div>
    </div>


    <div class="row" style="margin-top: 30px;"    data-aos="fade-up"
    data-aos-duration="1500">
        <div class="col-md-4 py-3 py-md-0">
            <div class="card">
                <div class="overlay">
                    <h3 class="text-center">Delicious Cake</h3>
                </div>
                <img src="/static/image/o4.png" alt="">
            </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <div class="card">
                <div class="overlay">
                    <h3 class="text-center">Chocolate Cake</h3>
                </div>
                <img src="/static/image/o5.png" alt="">
            </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <div class="card">
                <div class="overlay">
                    <h3 class="text-center">Slice Cake</h3>
                </div>
                <img src="/static/image/o6.png" alt="">
            </div>
        </div>
    </div>
</div>
</section>
<!-- gallary -->

{%endblock%}