{% extends 'hf.html'%}
{% block content %}
{% load static %}

<!-- product cards -->

<section id="product-cards" data-aos="fade-up" data-aos-duration="1500">
    <div class="container">
        <h1>ITEMS
        <div class="dropdown">
            <img src="/static/image/menu.png" alt="Cart Image" id="cartImage" width="30px" class="filter">
            <div id="dropdownContent" class="dropdown-content">
                <ul>Filter Price
                    <p style="border-bottom: 1px solid rgb(194, 135, 27);"></p>
                {% for f_price in filter_price %}
                       <li> <a href="/item/?filter_price={{f_price.id}}" class="dropdown-item">₹ {{f_price.price}}</a></li>
                {% endfor %}
                </ul>
                <ul>Flavour
                    <p style="border-bottom: 1px solid rgb(194, 135, 27);"></p>
                {% for flv in flavour %}
                       <li> <a href="/item/?flavour={{flv.id}}" class="dropdown-item">{{flv.name}}</a></li>
                {% endfor %}
                </ul>
                <ul>Sort By 
                    <p style="border-bottom: 1px solid rgb(194, 135, 27);"></p>
                    <li><a href="/item/{% for it in itm %}?ATOZ={{it.id}} {% endfor%}">Name A to Z</a></li>
                    <li><a href="/item/{% for it in itm %}?ZTOA={{it.id}} {% endfor%}">Name Z to A</a></li>
                    <li><a href="/item/{% for it in itm %}?PRICE_LOWTOHIGH={{it.id}} {% endfor%}">Price: low to high</a></li>
                    <li><a href="/item/{% for it in itm %}?PRICE_HIGHTOLOW={{it.id}} {% endfor%}">Price: high to low</a></li>
                    <li><a href="/item/{% for it in itm %}?WITHEGG={{it.id}} {% endfor%}">With Egg</a></li>
                    <li><a href="/item/{% for it in itm %}?WITHOUTEGG={{it.id}} {% endfor%}">Without Egg</a></li>
                </ul>


            </div>
        </div>
        </h1>
        
        <div class="row" style="margin-top:50px;">
            {% for it in itm %}
           <div class="col-md-3 py-3 py-md-0">
            <br> <br>
            <div class="card">
                <div class="badge">{{it.stock}}</div>
                <div class="overlay">
                    <!-- <a href="{{it.id}}"><button type="button" class="btn btn-secondary" title="Quick View"><i><img src="/static/image/views.png" alt="" width="30px"></i></button></a><br> -->
                    <!--<a href="{% url 'wishlist' %}"><button type="button" class="btn btn-secondary" title="Add to Wishlist"><i><img src="/static/image/heart.png" alt="" width="30px"></i></button></a><br>
                     <a href="{% url 'cart_detail' %}"><button type="button" class="btn btn-secondary" title="Add to Cart"><i><img src="/static/image/add.png" alt="" width="30px"></i></button></a>-->
                </div>
                <a href="{{it.id}}">
                <img src= "{{it.image.url}}" alt="Item" style="position:center;" width="95%"/>
                </a>
    
                {% if it.offer %}
                
                <div class="spec_offer text-center"><a href ="#">Special Offer</a></div>
                {% endif %}
                <div class="card-body">
                    
                    <h3>{{it.name|truncatewords:10}}</h3>
                    <h5>{{it.categories}}</h5>
                    <!--
                    <div class="star">
                      <i class="bx bxs-star checked"></i>
                      <i class="bx bxs-star checked"></i>
                      <i class="bx bxs-star checked"></i>
                      <i class="bx bxs-star "></i>
                      <i class="bx bxs-star "></i>
                    </div>
                    -->
                    
                    <br>
                    <h6>₹ {{it.price}}<div class="overlay"><a href="{{it.id}}"><button type="button" class="btn btn-secondary" title="Quick View"><i><img src="/static/image/views.png" alt="" width="30px"></i></button></a></div> <span>
                        
                        <a href="{% url 'cart_add' it.id %}"><button>Add Cart</button></a></span></h6>
                </div>
            </div>
           </div>
           {% endfor %}
    </section>
    <!-- product cards end-->

{%endblock%}